.title {
  font-size: 3.2em;
  padding: 3rem;
  text-align: center;
}

.aboutcontainer {
  margin: 5px 0 5px 0;
  background-color: #adacb5;
  border-radius: 10px;
  min-height: 84vh;
}

.abouttext {
  padding: 2rem;
  line-height: 1.8;
}
