.container {
  background-color: #adacb5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8d5db;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  max-height: 90vh;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

button {
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
