.Person {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: #d8d5db;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 300px;
  height: 240px;
  position: relative;
}

.maintext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.personinfo {
  font-size: 15px;
  flex: 1;
}

.reminder {
  margin-top: auto;
  font-weight: bold;
  padding-top: 10px;
  font-size: 14px;
}
