* {
  padding: 0;
  margin: 0;
}

#root {
  background-color: #2d3142;
  color: #2d3142;
}

.container {
  margin-top: 5px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #adacb5;
  flex-wrap: wrap;
  border-radius: 10px;
}
